# Build output
/bin/
/obj/
/*.exe
/*.exe~
/*.out
/*.test
/*.dSYM

# Vendor directory
/vendor/

# Go module files
/go.sum
/go.mod

# IDE files
.idea/
*.iml
*.ipr

# Logs
*.log


# Other
*.swp
*.tmp
*.bak
*.old
.DS_Store